<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Tim Berners-Lee</h1>
    <img src="/images/berners-lee.jpg" alt="">
    <p>En 1990, Berners Lee había diseñado tres protocolos que fueron fundamentales para el desarrollo de la tecnología
        que construiría el Internet que hoy conocemos. Estos fueron el HTML (Hyper Text Markup Language), es decir el
        lenguaje con el que se escriben las páginas web; el URL un dirección única para identificar cada página de entre
        los billones que existen y que comúnmente conocemos como URL; y el HTTP el protocolo de transferencia de
        hipertexto que permite recuperar los recursos de cada web. </p>
</body>

</html>