<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Grace Murray Hopper</h1>
    <img src="/images/grace-hopper.jpg" alt="">
    <p>Fue precursora en el uso de la primera computadora electromecánica, conocida como Mark I. Además, creó el
        lenguaje de programación COBOL, pensado para facilitar el desarrollo de programas para personas sin
        conocimientos específicos de informática. En honor a ella, existen los premios “Grace Murray Hopper Award”, que
        se otorgan cada año a las personas más relevantes del mundo de la computación.</p>
</body>

</html>