<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Las Heroínas y los Héroes Tecnológicos más representativos del ámbito de la programación</h1>
    <img src="/images/home.jpg" alt="">
    <p>Desde los componentes que debe tener un ordenador, pasando por los principios de la programación, hasta la invención de las páginas web, vamos a hacer un repaso por algunos de los nombres que trazaron el curso de la historia de la informática.
        Estás líneas que ahora mismo estás leyendo han sido escritas desde un portátil ultraligero, y tú seguramente lo estés viendo desde un móvil, una tablet o tu PC, ninguno de estos dispositivos sería posible sin el trabajo de miles de personas que durante años han contribuido a la evolución de la tecnología tal y como la conocemos hoy en día. Hoy, queremos darles un humilde homenaje.
        Yo no podría estar hoy contándote esta historia si no fuera porque otros antes tuvieron una idea que cimentó las bases de la informática actual. Hombres y mujeres que gracias a su trabajo fueron aportando su grano de arena para que hoy tengamos internet, ordenadores e incluso móviles o altavoces inteligentes. 
        </p>
</body>

</html>