<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Alan Turing</h1>
    <img src="/images/turing_alan.jpg" alt="">
    <p>A Turing se le considera el padre teórico del ordenador y el precursor de la inteligencia artificial de la que
        tanto oímos hablar hoy en día. Uno de los logros que se le atribuyen más estos días se produjo dentro del
        Proyecto Manhattan donde fue capaz de crear un sistema que descifrara Enigma, los códigos secretos con los que
        se comunicaban los nazis.</p>
</body>

</html>